.password-change-container {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
  }
  
  .password-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .password-header h2 {
    margin: 0;
    color: #333;
    font-size: 20px;
    font-weight: 600;
  }
  
  .toggle-button {
    background-color: #085FA7;
    color: white;
     border-radius: 5px;
    width: 109px;
    height: 44px;
    padding: 10px 16px;
    cursor: pointer;
     border: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    font-size: 14px;
  }
  
  .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transition: transform 0.3s ease;
  }
  
  .arrow.down {
    border-top: 5px solid #085FA7;
  }
  
  .arrow.up {
    border-bottom: 5px solid #085FA7;
    transform: rotate(180deg);
  }
  
  .password-form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .save-button {
    background-color: #008756;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    width: 200px;
    height: 44px;
    font-weight: 500;
    left: 1px;
    
   }
  
  .save-button:hover {
    background-color: #006c45;
  }